<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.performance.mapper.DcCustomerPerformanceMapper">

    <select id="selectUserPerformanceRank" resultType="map">
        SELECT
        userId,
        username,
        monthBalance,
        performanceRank
        FROM (
        SELECT
        user_id as userId,
        user_name as username,
        SUM(balance) as monthBalance,
        RANK() OVER (ORDER BY SUM(balance) DESC) as performanceRank
        FROM
        dc_customer_performance
        WHERE
        del_flag = 0
        <if test="year != null">
            AND YEAR(create_time) = #{year}
        </if>
        <if test="month != null">
            AND MONTH(create_time) = #{month}
        </if>
        <if test="year == null and month == null">
            AND create_time BETWEEN DATE_FORMAT(CURDATE(), '%Y-%m-01') AND LAST_DAY(CURDATE())
        </if>
        GROUP BY
        user_id
        ) ranked_data
        <if test="userId != null">
            WHERE userId = #{userId}
        </if>
    </select>


</mapper>
