<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.customer.mapper.DcCustomerInformationMapper">

    <select id="selectCustomerCountByType" resultType="map">
        SELECT customer_type, COUNT(1) as count
        FROM dc_customer_information
        WHERE del_flag = 0
        GROUP BY customer_type
    </select>

    <select id="selectByYearMonth" resultType="map">
        SELECT *
        FROM dc_customer_information
        WHERE del_flag = 0
        <if test="userId != null">
            AND lawyer_id = #{userId}
        </if>
        <if test="year != null">
            AND YEAR(create_time) = #{year}
        </if>
        <if test="month != null">
            AND MONTH(create_time) = #{month}
        </if>
        <if test="day != null">
            AND DAY(create_time) = #{day}
        </if>
    </select>

    <select id="selectCustomerPackageType" resultType="map">
        SELECT package_type, COUNT(1) as count
        FROM dc_customer_information
        WHERE del_flag = 0
        <if test="lawyerId != null">
            AND lawyer_id = #{lawyerId}
        </if>
        GROUP BY package_type

    </select>

    <select id="selectExpiringCustomers" resultType="map">
        SELECT *
        FROM dc_customer_information
        WHERE del_flag = 0
        AND expire_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 DAY)
        AND DATE_ADD(CURDATE(), INTERVAL 2 DAY)
        <if test="lawyerId != null">
            AND lawyer_id = #{lawyerId}
        </if>
        <if test="createDepts != null and createDepts.size() > 0">
            AND create_dept IN
            <foreach collection="createDepts" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>
    </select>

    <select id="selectCustomersWithBalance" resultType="map">
        SELECT *
        FROM dc_customer_information
        WHERE del_flag = 0
        AND balance > 0
        <if test="lawyerId != null">
            AND lawyer_id = #{lawyerId}
        </if>
        <if test="createDepts != null and createDepts.size() > 0">
            AND create_dept IN
            <foreach collection="createDepts" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>
    </select>


    <select id="selectOutstandingCustomer" resultType="map">
        SELECT
        *
        FROM
        dc_customer_information
        WHERE
        id NOT IN (
        SELECT
        customer_id
        FROM
        dc_customer_tracking
        WHERE
        del_flag = 0
        AND tracking_time >= DATE_SUB( CURDATE(), INTERVAL 20 DAY ))
        AND id NOT IN (
        SELECT
        customer_id
        FROM
        dc_customer_out_visit
        WHERE
        del_flag = 0
        AND visit_time >= DATE_SUB( CURDATE(), INTERVAL 20 DAY ))
        AND id NOT IN (
        SELECT
        customer_id
        FROM
        dc_insurance_case
        WHERE
        del_flag = 0
        AND order_date >= DATE_SUB( CURDATE(), INTERVAL 20 DAY ))
        AND id NOT IN (
        SELECT
        customer_id
        FROM
        dc_debt_case
        WHERE
        del_flag = 0
        AND filing_date >= DATE_SUB( CURDATE(), INTERVAL 20 DAY ))
        AND id NOT IN (
        SELECT
        customer_id
        FROM
        dc_customer_job_order
        WHERE
        del_flag = 0
        AND create_time >= DATE_SUB( CURDATE(), INTERVAL 20 DAY ))
        AND id NOT IN (
        SELECT
        customer_id
        FROM
        dc_case_tracking
        WHERE
        del_flag = 0
        AND tracking_time >= DATE_SUB( CURDATE(), INTERVAL 20 DAY ))
        AND del_flag = 0
        <if test="lawyerId != null">
            AND lawyer_id = #{lawyerId}
        </if>
        <if test="createDepts != null and createDepts.size() > 0">
            AND create_dept IN
            <foreach collection="createDepts" item="deptId" open="(" separator="," close=")">
                #{deptId}
            </foreach>
        </if>
    </select>

    <select id="selectCustomerByLawyerId" resultType="org.dromara.customer.domain.vo.DcCustomerInformationVo">
        SELECT id, transfer_id, customer_name
        FROM dc_customer_information
        WHERE lawyer_id = #{lawyerId} AND del_flag = 0
    </select>

    <select id="selectAllCustomerBasicInfo" resultType="org.dromara.customer.domain.vo.DcCustomerInformationVo">
        SELECT id, transfer_id, customer_name
        FROM dc_customer_information
        WHERE del_flag = 0
    </select>

    <select id="selectCustomerByCity" resultType="org.dromara.customer.domain.vo.DcCustomerInformationVo">
        SELECT id, transfer_id, customer_name
        FROM dc_customer_information
        WHERE customer_city = #{city} AND del_flag = 0
    </select>

</mapper>
