<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.customer.mapper.DcCustomerInformationMapper">

    <select id="selectCustomerCountByType" resultType="map">
        SELECT customer_type, COUNT(1) as count
        FROM dc_customer_information
        WHERE del_flag = 0
        GROUP BY customer_type
    </select>

    <select id="selectByYearMonth" resultType="map">
        SELECT *
        FROM dc_customer_information
        WHERE del_flag = 0
        <if test="userId != null">
            AND lawyer_id = #{userId}
        </if>
        <if test="year != null">
            AND YEAR(create_time) = #{year}
        </if>
        <if test="month != null">
            AND MONTH(create_time) = #{month}
        </if>
        <if test="day != null">
            AND DAY(create_time) = #{day}
        </if>
    </select>

    <select id="selectCustomerPackageType" resultType="map">
        SELECT package_type, COUNT(1) as count
        FROM dc_customer_information
        WHERE del_flag = 0
        <if test="lawyerId != null">
            AND lawyer_id = #{lawyerId}
        </if>
        GROUP BY package_type

    </select>

    <select id="selectExpiringCustomers" resultType="map">
        SELECT *
        FROM dc_customer_information
        WHERE del_flag = 0
        AND expire_date BETWEEN DATE_SUB(CURDATE(), INTERVAL 2 DAY)
        AND DATE_ADD(CURDATE(), INTERVAL 2 DAY)
        <if test="lawyerId != null">
            AND lawyer_id = #{lawyerId}
        </if>
    </select>

    <select id="selectCustomersWithBalance" resultType="map">
        SELECT *
        FROM dc_customer_information
        WHERE del_flag = 0
        AND balance > 0
        <if test="lawyerId != null">
            AND lawyer_id = #{lawyerId}
        </if>
    </select>


</mapper>
