<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.caseDetail.mapper.DcInsuranceCaseMapper">

    <select id="selectByYearMonth" resultType="map">
        SELECT *
        FROM dc_insurance_case
        WHERE del_flag = 0
        <if test="userId != null">
            AND legal_support_id = #{userId}
        </if>
        <if test="year != null">
            AND YEAR(create_time) = #{year}
        </if>
        <if test="month != null">
            AND MONTH(create_time) = #{month}
        </if>
        <if test="day != null">
            AND DAY(create_time) = #{day}
        </if>
    </select>

    <select id="selectMonthlyInsuranceCase" resultType="map">
        SELECT *
        FROM dc_insurance_case
        WHERE del_flag = 0
        AND order_date BETWEEN DATE_FORMAT(CURDATE(), '%Y-%m-01')
        AND LAST_DAY(CURDATE())
        <if test="legalSupportId != null">
            AND legal_support_id = #{legalSupportId}
        </if>
    </select>

</mapper>
