<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.myCustomer.mapper.DcCustomerTrackingMapper">

    <select id="selectByYearMonth" resultType="map">
        SELECT customer_id, MAX(create_time) as lastest_tracking_time
        FROM dc_customer_tracking
        WHERE del_flag = 0
        <if test="userId != null">
            AND create_by = #{userId}
        </if>
        <if test="year != null">
            AND YEAR(create_time) = #{year}
        </if>
        <if test="month != null">
            AND MONTH(create_time) = #{month}
        </if>
        <if test="day != null">
            AND DAY(create_time) = #{day}
        </if>
        <if test="trackingType != null">
            AND tracking_type = #{trackingType}
        </if>
        <if test="customerStatus != null">
            AND cumtomer_status = #{customerStatus}
        </if>
        <if test="isReturn != null">
            AND is_return = #{isReturn}
        </if>
        GROUP BY customer_id
    </select>

    <select id="selectMonthlyTrackingByLegalSupport" resultType="map">
        SELECT *
        FROM dc_customer_tracking
        WHERE del_flag = 0
        AND tracking_time BETWEEN DATE_FORMAT(CURDATE(), '%Y-%m-01')
        AND LAST_DAY(CURDATE())
        <if test="legalSupportId != null">
            AND legal_support_id = #{legalSupportId}
        </if>
        <if test="city != null and city != ''">
            AND remark2 = #{city}
        </if>
    </select>

    <select id="selectTodayFollowUpByLegalSupport" resultType="map">
        SELECT *
        FROM dc_customer_tracking
        WHERE del_flag = 0
        AND next_time >= CURDATE()
        AND next_time &lt; DATE_ADD(CURDATE(), INTERVAL 1 DAY)
        <if test="legalSupportId != null">
            AND legal_support_id = #{legalSupportId}
        </if>
        <if test="city != null and city != ''">
            AND remark2 = #{city}
        </if>
    </select>

</mapper>
